h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    text-transform: lowercase;
    letter-spacing: 4px;
    color: #C1C6DA;
    margin-left: 15px;
    margin-top: 35px;
    font-size: 85px;
    position: relative;
    padding: 24px;
    text-shadow: .2px .2px #fff;
    text-shadow: 1px 1px #582D36;
}
#h3One {font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #F8D9C7;
    margin-left: 15px;
    font-size: 45px;
    position: relative;
    bottom: 35px;
    text-shadow: .5px .5px #582D36;
}
body {
    background-color: #443D4F;
    background-image: url("../images/rebel.png");
}
header{
    margin-top: -45px;
    width:100%;
    height:225px;
    background-color: #7E7279;
    background-image: url("../images/soft-wallpaper.png");
    border-bottom-width: 0.1px;
    border-bottom-style: solid;
    border-bottom-color: #F8D9C7;
}

.container {
    width: 75%;
    margin: 0 auto 0 auto;
    padding: 10px;
}

.fourCrystalsDiv {
    width: 25%;
    float: left;

}

.fourCrystals {
    float: left;
    width: 90%;

}

footer {
    background-color: #7E7279;
    background-image: url("../images/soft-wallpaper.png");
    width: 100%;
    height: 300px;
    position: sticky;
    margin-top: 85px;
}

#scoreboardDiv {
    background-color: #E48173;
    background-image: url("../images/debut-dark.png");
    overflow: auto;
    height: 50px;
    position: relative;
    bottom: 4.5px;
}

#winRecord, #lossRecord {
    text-align: left;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #ADC8CA;
    text-shadow: 1.3px 1.3px #582D36;
    margin-left: 15px;
    font-size: 35px;
    position: relative;
    bottom: 0px;
    padding: 8px;
    border-left: 0.2px solid gray;
    
}
#lossRecord{ width: 175px;
    border-right: 0.2px solid gray;
}

#alertMessage {
    text-align: right;
    display:inline-block;
    margin:0 auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #ADC8CA;
    text-shadow: 1.3px 1.3px #582D36;
    margin-left: 15px;
    font-size: 35px;
    position: relative;
    bottom: 0px;
    padding: 8px;


}




img {
    display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;

  }
    img:hover, img:focus, img:active {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
        transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    }



#scoreBoardDiv2 {
    clear: both;
    width: 90%;
    margin:0 auto;
   
    

}

#totalScore, #goalNumber {
    padding: 20px;
    width: 45%;
    vertical-align: middle;
    display: inline-block;
    background-color: #582D36;
    font-size: 28px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #ADC8CA;
    text-shadow: 1px 1px #000;
    height: 100px;
    border-radius: 5px;
    background: rgba(88,45,54,0.6);
    
}

#yourValue, #goalValue {
    font-size: 75px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #ADC8CA;
    text-shadow: 2.5px 2.5px #000;
}












    #h3Two {font-family: 'Raleway', sans-serif;
        font-weight: 600;
        color: #ADC8CA;;
        margin-left: 15px;
        font-size: 36px;
        position: relative;
        bottom: -5px;
        text-shadow: 1.3px 1.3px #582D36;
    }

    .instructionsTitle {
        border-top-width: 0.1px;
        border-top-style: solid;
        border-top-color: #F8D9C7;
        background-color: #E48173;
        background-image: url("../images/debut-dark.png");
        overflow: auto;
        height: 50px;
        position: relative;
        bottom: 4.5px;
    }


    #instructionsContainer {
        margin: 0 auto;
        width: 90%;
    }

    #instructionsPart1, #instructionsPart2{
        display: inline-block;
        vertical-align: middle;
        margin-top: 10px;
       
    }

    #instructionsPart1 {
        border-radius: 3px;
        height:175px;
        width: 45%;
        padding:25px;
        background: rgba(177,147,142,0.5);
         

    }
    #instructionsPart2  {
        border-radius: 3px;
        height:175px;
        width: 45%;
        padding:25px;
        background: rgba(177,147,142,0.5)
        
        
        
    }
    li {
        line-height: 36px;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
    font-weight: 200i;
    color: #582D36;
        
    }

    .effect6
{
  	position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
/* .effect6:before, .effect6:after
{
	content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
} */
/* .effect6:after
{
	right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
} */

@media screen and (max-width: 1308px) {
    li {
        line-height: 29px;}
        



}
@media screen and (max-width: 1155px) {
    #instructionsPart1 {
        width: 100%;
        margin: 15px;
        float: left;
        height:100px;
        

    }

    #instructionsPart2 {
        width: 100%;
        margin: 15px;
        float: left;
        height:100px;
        


    }

    footer{
    height: 600px;}

}


@media screen and (max-width: 940px) {
    #totalScore, #goalNumber{
        width: 95%;
        margin-top: 15px;
    }


}

@media screen and (max-width: 897px) {
    .fourCrystalsDiv {
        position: relative;
        top: 25px;
    
    }

    h1{
        font-size: 65px;
        font-weight:600;
    }

    #scoreboardDiv {
        bottom: 0px;
        top: 16px;
    }

}

@media screen and (max-width: 682px) {
h1{
    letter-spacing: 2px;
    font-size: 45px;
}

#h3One {
    letter-spacing: 2px;
    font-size: 25px;
}

#scoreboardDiv {
    bottom: 0px;
    top: 55px;
}

}

@media screen and (max-width: 652px) {
    li {
        line-height: 22px;
    }


    #instructionsPart1, #instructionsPart2 {
        height: 135px;
    }

}