h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-transform: lowercase;
    color: #C1C6DA;
    margin-left: 15px;
    margin-top: 35px;
    font-size: 85px;
    position: relative;
    padding: 24px;
    text-shadow: .2px .2px #fff;
    text-shadow: .7px .7px #582D36;
}
#h3One {font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #F8D9C7;
    margin-left: 15px;
    font-size: 45px;
    position: relative;
    bottom: 35px;
    text-shadow: .5px .5px #fff;
}
body {
    background-color: #443D4F;
}
header{
    margin-top: -45px;
    width:100%;
    height:225px;
    background-color: #7E7279;
    background-image: url("../images/soft-wallpaper.png");
    border-bottom-width: 0.1px;
    border-bottom-style: solid;
    border-bottom-color: #F8D9C7;
}

.container {
    width: 75%;
    margin: 0 auto 0 auto;
    padding: 10px;
}

.fourCrystalsDiv {
    width: 25%;
    float: left;

}

.fourCrystals {
    float: left;
    width: 90%;

}

footer {
    background-color: #7E7279;
    width: 100%;
    height: 300px;
    position: sticky;
    margin-top: 85px;
}

#scoreboardDiv {
    background-color: #E48173;
    background-image: url("../images/debut-dark.png");
    overflow: auto;
    height: 50px;
    position: relative;
    bottom: 4.5px;
}

#winRecord, #lossRecord{
    text-align: left;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 200i;
    color: #ADC8CA;
    text-shadow: .5px .5px #fff;
    margin-left: 15px;
    font-size: 35px;
    position: relative;
    bottom: 0px;
    padding: 8px;
    border-left: 0.2px solid gray;
    
}
#lossRecord{ width: 175px;
    border-right: 0.2px solid gray;
}

img {
    display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;

  }
    img:hover, img:focus, img:active {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
        transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    }



#scoreBoardDiv2 {
    clear: both;
    width: 90%;
    margin:0 auto;
    /* background-color: turquoise; */
    

}

#totalScore, #goalNumber {
    padding: 20px;
    width: 45%;
    vertical-align: middle;
    display: inline-block;
    background-color: #582D36;
    font-size: 28px;
    font-family: 'Raleway', sans-serif;
    font-weight: 200i;
    color: #ADC8CA;
    text-shadow: .5px .5px #fff;
    height: 100px;
    border-radius: 5px;
    
}

#yourValue, #goalValue {
    font-size: 75px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #ADC8CA;
    text-shadow: .5px .5px #fff;
}












    #h3Two {font-family: 'Raleway', sans-serif;
        font-weight: 300;
        color: #ADC8CA;;
        margin-left: 15px;
        font-size: 36px;
        position: relative;
        bottom: -5px;
        text-shadow: .5px .5px #fff;
    }

    .instructionsTitle {
        border-bottom-width: 0.1px;
    border-bottom-style: solid;
    border-bottom-color: #F8D9C7;
        background-color: #E48173;
        background-image: url("../images/debut-dark.png");
        overflow: auto;
        height: 50px;
        position: relative;
        bottom: 4.5px;
    }


    #instructionsContainer {
        margin: 0 auto;
        width: 90%;
    }

    #instructionsPart1, #instructionsPart2{
        display: inline-block;
        vertical-align: middle;
        margin-top: 10px;
       
    }

    #instructionsPart1 {
        border-radius: 3px;
        height:175px;
        width: 45%;
        padding:25px;
        background-color: #B1938E;
         

    }
    #instructionsPart2  {
        border-radius: 3px;
        height:175px;
        width: 45%;
        padding:25px;
        background-color: #B1938E;
        
        
        
    }
    li {
        line-height: 36px;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
    font-weight: 200i;
    color: #582D36;
        
    }